*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 50vw;
    margin: 0 auto;
    background-color: gray;
}
.btn{
    display: flex;
    flex-direction: row;
    border: 0.3rem solid black;
    margin: 2rem;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: "Poppins";
    align-items: center;
    justify-content: center;
    
}
h2{
    font-family: "roboto";
    align-items: center;
    justify-content: center;
    
}
h1:hover,h2:hover{
    text-decoration: underline;
}
.email,.password {
    height: 3rem;
    width: 320px;
    margin: 30px 0;
    margin-top: 1rem;
    border: 0.2rem solid red;
    text-align: center;
    font-family: "Poppins";
    font-weight: 500;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    display: flex;
    flex-direction: row;
    color: white;
    background-color: green;
    
    
}
.signup{
    display: flex;
    flex-direction: row;
    color: white;
    background-color: red;
}
.login:hover,.signup:hover{
    text-decoration: gray;
}